@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@600&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
html, body{
    background: rgba(0, 11, 46, 1);
    color: #fff;
    height: 100%;
    margin: 0;
}
body {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
}
hr {
    margin: .5em 0;
    border-bottom: 2px solid #fff;
    border-top: unset;
    opacity: unset;
}
img {width: 100%;}
.main{flex: 1;}
.wrapper {
    display: flex;
    flex-direction: column; /* 讓子元素垂直排列 */
    min-height: 100vh; /* 最小高度為視窗高度 */
}
/*--- header ---*/
header{
    height: 48px;
    background: rgba(35, 49, 96, 0.7);
    align-items: center;
}
.header-left, .header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.header-right{
    justify-content: flex-end;
}
.Btn-showsidebar img{
    width: 30px;
    height: 27px;
}
.logoBox img{
    height: 48px;
    width: auto;
    padding: 0 3px;
}
.balanceBox img{
    height: 24px;
    width: auto;
}
.balanceBox .balance{
    color: rgba(246, 207, 84, 1);
    font-weight: 500;
}
.header-right .balanceBox {
    display: flex;
    align-items: center;
    gap: 3px;
}
header .Btn-refreshbalance img{
    height: 24px;
    width: auto;
}
.dropdown-lang img{
    width: 36px;
    height: auto;
    border: 4px solid #00133000;
    border-radius: 50%;
}
.dropdown-lang:hover img{
    border: 4px solid #00133099;
}
.dropdown-lang::after {
    display: none !important;
}
.dropdown-lang-menu{
    background: rgba(35, 49, 96, 0.9);
    min-width: unset;
    width: 36px;
    left: unset!important;
    right: 6px;
    padding: 0;
    border-radius: 20px;
}
.dropdown-lang-menu li:not(:first-child):not(:last-child) {
    margin: 10px 0 !important;
}
.dropdown-item{
    padding: 0;
}
.dropdown-item img{
    width: 36px;
    height: auto;
    border: 4px solid #00133000;
    border-radius: 50%;
}
/*--- Sidebar ---*/
.SidebarBox {
    display: flex;
    flex-direction: column;
}
.recordBox{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 205px);
}
.settingBox{
    display: flex;
    flex-direction: column;
    height: 100%;
    height: calc(100vh - 205px);
}
.UserBox, .tabbetrecordBox, .sidebarfooterBox {
    flex-shrink: 0;   /* 固定這些區塊的高度 */
}
.currentbetsBox, .todaybetsBox, .settingswitchBox {
    flex-grow: 1;   /* 填滿剩餘空間 */
    overflow-y: auto;
    position: relative;
}
.UserBox{
    height: 80px;
    background: rgba(35, 49, 96, 0.9);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin: 5px;
}
.UserBox .userimgBox img{
    width: 48px;
    height: 48px;
}
.UserBox .userimgBox {
    margin-right: 10px;
}
.UserBox .balanceBox {
    display: flex;
    align-items: center;
    gap: 3px;
}
.UserBox .username {
    font-size: 32px;
    line-height: 32px;
}
.UserBox .balanceBox img{
    width: 24px;
    height: 24px;
}
.UserBox .balanceBox .Btn-refreshbalance {
    line-height: 0;
}
.UserBox .balanceBox .Btn-refreshbalance img{
    width: 18px;
    height: 18px;
}
.UserBox .logoutBox {
    margin-left: auto;
}
.UserBox .logoutBox img{
    width: 36px;
    height: 36px;
}
.tabbetrecordBox{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 5px;
}
.tabbetrecordBox .tab-primary {
    flex: 1;
    text-align: center;
    height: 36px;
    font-weight: 700;
}
.currentbetsBox, .todaybetsBox, .settingswitchBox {
    border: 1px solid rgba(131, 131, 131, 1);
    margin: 5px;
    margin-top: 0;
    border-radius: 16px;
}
.currentTitle, .todayTitle, .settingswitchTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    color: rgba(246, 207, 84, 1);
    background: rgba(0, 11, 46, 1);
    font-weight: 700;
    position: sticky;
    top: 0;
    z-index: 10;
    border-radius: 16px;
}
.currentarena img, .todaytotal img, .gamesetting img{
    width: 24px;
    height: 24px;
}
.currenttable, .todaytable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.currenttable th, .currenttable td,
.todaytable th, .todaytable td {
    border-bottom: 1px solid #fff1;
    text-align: center;
    padding: 3px;
    word-wrap: break-word;
}
.currenttable .table-title,
.todaytable .table-title {
    background: rgba(43, 50, 72, 1);
    position: sticky;
    top: 35px;
    z-index: 10;
}
.switch-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-weight: 600;
    color: #fff;
    border-bottom: 1px solid #fff1;
}
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(85, 85, 85, 1);
    border-radius: 30px;
    transition: .3s;
}
.slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background: rgba(131, 131, 131, 1);
    border-radius: 50%;
    transition: .3s;
}
.switch input:checked + .slider {
    background: rgba(255, 217, 0, 1);
}
.switch input:checked + .slider::before {
    transform: translateX(23px);
    background: rgba(255, 127, 0, 1);
}
.sidebarfooterBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.Btn-footeraction {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Btn-footeraction img{
    width: 32px;
    height: 32px;
}
.Btn-footeraction span{
    font-size: 16px;
    color: rgba(216, 216, 216, 1);
}
.Btn-footeraction.active span{
    color: rgba(255, 128, 0, 1);
}
/*--- main主畫面 ---*/
.main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.videoBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.LIVEvideo video {
    height: 100vh;
    width: auto;
}
.videoswitch {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0!important;
    z-index: 2;
    box-shadow: 0 0 5px #fff;
}
.videoswitch video{
    max-height: 150px;
    max-width: 150px;
    display: block;
}
.selectarena {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
    background: rgba(0, 19, 48, 0.5);
    border-radius: 16px;
}
.selectarena .CFarena{
    padding: 4px 10px;
    display: flex;
    align-items: center;
}
.selectarena img{
    width: 14px;
    height: 14px;
    margin-left: 10px;
}
.selectnetline {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
    background: rgba(0, 19, 48, 0.5);
    border-radius: 16px;
}
.selectnetline .netline{
    padding: 4px 10px;
    display: flex;
    align-items: center;
}
.selectnetline img{
    width: 14px;
    height: 14px;
    margin-left: 10px;
}
.livechatBox{
    position: absolute;
    bottom: 260px;
    left: 0;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.chatrecord{
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 10px;
    max-height: 150px;
}
.chatrecord::-webkit-scrollbar {
    width: 6px;
}
.chatrecord::-webkit-scrollbar-thumb {
    background-color: rgba(255, 128, 0, 1);
    border-radius: 5px;
}
.chatrecord::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}
.chatunit{
    padding: 2px 0;
}
.chatunit img{
    width: 25px;
    height: 25px;
}
.chataction{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background: rgba(0, 0, 0, 0.3);
}
.userchat {
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.9);
    color: #666;
}
.btn-liveinteract{
    background: rgba(0, 0, 0, 0.3);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-liveinteract:hover, .btn-liveinteract:active{
    background: rgba(0, 0, 0, .5);
}
.btn-livedown{
    background: rgba(0, 0, 0, 0.3);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-livedown:hover, .btn-livedown:active{
    background: rgba(255, 193, 0, .5);
}
.btn-livedown img{
    width: 20px;
    height: auto;
}
/*--- Bet Area ---*/
.betareaBox{
    position: absolute;
    height: 260px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(35, 49, 96, 0.9);
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.BetGroup {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.btn-option{
    height: 90px;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.6) inset;
    position: relative;
}
.BetGroup.btn-group .btn{
    border-radius: 16px;
}
.BetGroup.btn-group>.btn:nth-child(n+2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.BetGroup.btn-group>.btn {
    flex: 1;
}
.btn-BetMeron, .btn-BetWala {
    flex-grow: 1.2!important;
}
.btn-BetDraw {
    flex-grow: 1!important;
}
.btn-BetMeron{
    background: rgba(123, 200, 223, 1);
    text-align: start;
    padding-left: 10px!important;
}
.btn-BetMeron:hover, .btn-BetMeron:active {
    background: rgba(0, 63, 223, 1);
}
.btn-BetMeron.active{
    background: rgba(0, 63, 223, 1);
}
.btn-BetDraw{
    background: rgba(123, 223, 123, 1);
}
.btn-BetDraw:hover, .btn-BetDraw:active {
    background: rgba(0, 200, 0, 1);
}
.btn-BetDraw.active{
    background: rgba(0, 200, 0, 1);
}
.btn-BetWala {
    background: rgba(255, 123, 123, 1);
    text-align: end;
    padding-right: 10px!important;
}
.btn-BetWala:hover, .btn-BetWala:active {
    background: rgba(255, 0, 0, 1);
}
.btn-BetWala.active{
    background: rgba(255, 0, 0, 1);
}
.option-rate{
    color: #fff;
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
}
.option-name{
    color: #fffa;
    font-size: 24px;
    line-height: 34px;
    font-weight: 900;
}
.btn-option img {
    position: absolute;
    width: 50px;
    height: auto;
}
.winMeron {
    top: -15px;
    right: 5px;
}
.winWala {
    top: -15px;
    left: 5px;
}
.winDraw {
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}
.waymaptotalBox {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.pointtotal{
    display: flex;
    align-items: center;
    gap: 5px;
}
.Mpoint{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: rgba(123, 171, 255, 1);
    border-radius: 50%;
}
.Wpoint{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: rgba(255, 123, 123, 1);
    border-radius: 50%;
}
.Dpoint{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: rgba(123, 255, 123, 1);
    border-radius: 50%;
}
/*--- Waymap ---*/
.btn-waymapmore{
    background: rgba(67, 190, 0, 1);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-waymapmore:hover, .btn-waymapmore:active{
    background: rgba(123, 255, 123, 1);
}
.btn-waymapmore img{
    width: 20px;
    height: auto;
}
.waymapBox{
    display: flex;
    flex-direction: column;
    background: rgba(0, 19, 48, 0.5);
    padding: 3px;
    border-radius: 8px;
    flex-grow: 1;
    overflow-y: hidden;
    margin: 10px;
}
.waymaptable {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.waymaptable tbody {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.waymaptable tr {
    flex-grow: 1;
    display: flex;
    width: 100%;
}
.waymaptable td {
    min-width: 8%;
    border: 1px solid #ffffff04;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.waymaptable .Mpoint, .waymaptable .Wpoint, .waymaptable .Dpoint {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
/*--- win popup ---*/
.black-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.winpopupBox {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.winpopupmain {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.winpopup {
    position: relative;
    width: 330px;
    height: auto;
    z-index: 2;
}
.winbonus {
    position: absolute;
    text-align: center;
    bottom: 48px;
    font-size: 48px;
    font-weight: bold;
    color: rgba(255, 217, 0, 1);
    z-index: 3;
}
.winlight {
    position: absolute;
    z-index: 1;
    animation: rotateLight 5s linear infinite;
}
@keyframes rotateLight {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/*--- Bet chip ---*/
.betchipBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: rgba(0, 11, 46, 1);
    flex-direction: column;
}
.chipBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    padding-bottom: 10px;
}
.btn-chip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}
.betchipImg{
    display: block;
    width: 64px;
    height: auto;
    transition: transform 0.2s ease-out;
}
.chipvalue {
    position: absolute;
    top: calc(50% - 3px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    pointer-events: none;
    line-height: 1;
    white-space: nowrap;
    transition: transform 0.2s ease-out;
}
.btn-chip:active .betchipImg {
    transform: scale(1.2);
    filter: drop-shadow(0 0 10px rgba(255, 193, 0, 1));
}
.btn-chip:active .chipvalue{
    transform: translate(-50%, -50%) scale(1.2);
}
.clickbounce {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(60%) translateY(-10px);
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    pointer-events: none;
    opacity: 0;
}
.btn-chip:active .clickbounce {
    opacity: 1;
    animation: bounceFade 1s ease-out forwards;
}
@keyframes bounceFade {
    0% { transform: translateX(60%) translateY(-10px); opacity: 1; }
    50% { transform: translateX(60%) translateY(-20px); opacity: 1; }
    100% { transform: translateX(60%) translateY(-30px); opacity: 0; }
}
.chiprangeBox {
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chiprangeslider {
    width: 100%;
    height: 8px;
    border-radius: 5px;
    outline: none;
    position: relative;
    background: rgba(216, 216, 216, 1);
}
.chiprangeslider::-webkit-slider-runnable-track {
    background: transparent;    /* 隱藏原生slider */
}
.chiprangeslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 217, 0, 1);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px #000;
    position: relative;
    margin-top: -9px;
}
.chiprangecircle {
    position: absolute;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 0;
    margin-top: 4px;
    pointer-events: none;
    padding: 0 10px;
}
.chiprangecircle span {
    width: 25px;
    height: 25px;
    background: rgba(216, 216, 216, 1);
    border-radius: 50%;
}
.chiprangelabels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
.chiprangelabels span {
    color: #fff;
}
.betamountBox{
    width: 100%;
}
.betamount {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
}
.betamount img {
    position: absolute;
    left: 20px;
    width: 20px;
    height: auto;
}
.betamount input {
    width: 100%;
    background: rgba(35, 49, 96, 0.9);
    color: #fff;
    height: 35px;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    outline: none;
    text-align: center;
}
.betamountBox span {
    display: block;
    font-size: 16px;
    color: rgba(131, 131, 131, 1);
    text-align: right;
    padding-right: 10px;
}
.betbuttonBox{
    padding: 10px 5px;
    display: flex;
    width: 100%;
}
.betbuttonBox .btn {
    flex: 1;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    height: 36px;
}
/*--- LIVE直播選桌邊欄 ---*/
.openselectroomBox {
    position: fixed;
    top: 30%;
    left: 0;
    background: rgba(0, 19, 48, 0.5);
    padding: 16px 8px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
    z-index: 4;
    transition: left 0.3s ease;
}
.openselectroomBox img {
    width: 10px;
    height: auto;
}
.selectroomBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 45%;
    height: 100vh;
    background: rgba(0, 19, 48, 0.5);
    z-index: 3;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 48px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.selectroomBox.open {
    transform: translateX(0);
}
.tabselectroomBox{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background: rgba(35, 49, 96, 1);
    padding: 5px;
}
.tabselectroomBox .tab-primary {
    flex: 1;
    text-align: center;
    font-size: 14px;
}
.livelevelBox-general, .livelevelBox-vip{
    overflow-y: auto;
    padding-bottom: 100px;
}
.liveroomBox{
    margin: 5px 0;
    border-radius: 8px;
    border: 2px solid rgba(131, 184, 255, 1);
    position: relative;
}
.liveroomBox img{
    border-radius: 8px;
}
.livehostNum {
    position: absolute;
    top: 0px;
    left: 5px;
    font-weight: bold;
    z-index: 2;
    color: rgba(255, 192, 192, 1);
    text-shadow: 1px 1px 5px #000, -1px -1px 5px #000;
}
.live-livegameBox{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.live-livegameBox .livegameNum{
    position: relative;
    padding-left: 5px;
    text-shadow: 1px 1px 5px #000, -1px -1px 5px #000;
}
.live-livegameBox .waymapBox{
    margin: 2px;
    border: 1px solid #fffa;
}
.liveroomBox .waymaptable .Mpoint,
.liveroomBox .waymaptable .Wpoint,
.liveroomBox .waymaptable .Dpoint {
    width: 8px;
    height: 8px;
}
/*--- Redenvelope modal ---*/
.redenvelopeBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: rgba(0, 11, 46, 1);
    flex-direction: column;
    width: 90vw;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.6) inset;
}
.redenvelopeamountBox{
    width: 100%;
    padding: 10px;
}
.redenvelopeamount {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    padding-bottom: 0;
}
.redenvelopeamount img {
    position: absolute;
    left: 20px;
    width: 20px;
    height: auto;
}
.redenvelopeamount input {
    width: 100%;
    background: rgba(35, 49, 96, 0.9);
    color: #fff;
    height: 35px;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    outline: none;
    text-align: center;
}
.redenvelopeamountBox span {
    display: block;
    font-size: 16px;
    color: rgba(255, 134, 134, 1);
    text-align: center;
    padding-right: 10px;
}
.sentgiftbtnBox{
    padding: 10px 5px;
    display: flex;
    width: 100%;
}
.sentgiftbtnBox .btn {
    flex: 1;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    height: 36px;
}
/*--- Present modal ---*/
.presentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: rgba(0, 11, 46, 1);
    flex-direction: column;
    width: 90vw;
    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.6) inset;
}
.presenttypeBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.present-option {
    margin: 10px;
}
.presentimg {
    position: relative;
    width: 80px;
    height: 80px;
}
.presentlight, .presentobject {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.presentobject {
    z-index: 1;
}
.presenttext{
    text-align: center;
}
.presentname{
    color: rgba(255, 255, 255, 1);
}
.presentprice{
    color: rgba(255, 217, 0, 1);
}




/*--- 直/橫 畫面設定 ---*/
@media (orientation: portrait){
    .portrait-content {
        display: block;
    }
    .landscape-content {
        display: none;
    }
    .betchipBox {
        width: 90vw;
        height: auto;
    }
}
@media (orientation: landscape) {
    .portrait-content {
        display: none;
    }
    .landscape-content {
        display: block;
    }
    .container{
        max-width: unset;
    }
    .betareaBox {
        height: 140px;
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        align-items: stretch;
    }
    .BetGroup {
        grid-column: 1 / 2;   /* 位於左邊(佔據1~2之間) */
        grid-row: 1 / 3;   /* 占據整個左邊(佔據1~3之間) */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-right: 0;
    }
    .waymaptotalBox {
        grid-column: 2 / 3;   /* 位於右邊(佔據2~3之間) */
        grid-row: 1 / 2;   /* 位於上方(佔據1~2之間) */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 10px;
    }
    .waymapBox {
        grid-column: 2 / 3;   /* 位於右邊(佔據2~3之間) */
        grid-row: 2 / 3;   /* 位於下方(佔據2~3之間) */
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }
    .btn-BetMeron{
        height: 120px;
    }
    .btn-BetDraw{
        height: 120px;
    }
    .btn-BetWala {
        height: 120px;
    }
    .waymaptable .Mpoint, .waymaptable .Wpoint, .waymaptable .Dpoint {
        width: 9px;
        height: 9px;
    }
    .betchipBox {
        width: 50vw;
        height: auto;
    }
}














/*--- Margin ---*/
.m-00 {margin: 0;}
.mt-05 {margin-top: 5px;}
.mt-10 {margin-top: 10px;}
.mt-15 {margin-top: 15px;}
.mt-20 {margin-top: 20px;}
.mt-30 {margin-top: 30px;}
.mt-40 {margin-top: 40px;}
.mt-50 {margin-top: 50px;}
.mb-05 {margin-bottom: 5px;}
.mb-10 {margin-bottom: 10px;}
.mb-15 {margin-bottom: 15px;}
.mb-20 {margin-bottom: 20px;}
.mb-30 {margin-bottom: 30px;}
.mb-40 {margin-bottom: 40px;}
.mb-50 {margin-bottom: 50px;}
.ml-05 {margin-left: 5px;}
.ml-10 {margin-left: 10px;}
.ml-15 {margin-left: 15px;}
.ml-20 {margin-left: 20px;}
.ml-30 {margin-left: 30px;}
.ml-40 {margin-left: 40px;}
.ml-50 {margin-left: 50px;}
.mr-05 {margin-right: 5px;}
.mr-10 {margin-right: 10px;}
.mr-15 {margin-right: 15px;}
.mr-20 {margin-right: 20px;}
.mr-30 {margin-right: 30px;}
.mr-40 {margin-right: 40px;}
.mr-50 {margin-right: 50px;}
.mx-05 {margin-left: 5px;margin-right: 5px;}
.mx-10 {margin-left: 10px;margin-right: 10px;}
.mx-15 {margin-left: 15px;margin-right: 15px;}
.mx-20 {margin-left: 20px;margin-right: 20px;}
.mx-30 {margin-left: 30px;margin-right: 30px;}
.mx-40 {margin-left: 40px;margin-right: 40px;}
.mx-50 {margin-left: 50px;margin-right: 50px;}
.my-05 {margin-top: 5px;margin-bottom: 5px;}
.my-10 {margin-top: 10px;margin-bottom: 10px;}
.my-15 {margin-top: 15px;margin-bottom: 15px;}
.my-20 {margin-top: 20px;margin-bottom: 20px;}
.my-30 {margin-top: 30px;margin-bottom: 30px;}
.my-40 {margin-top: 40px;margin-bottom: 40px;}
.my-50 {margin-top: 50px;margin-bottom: 50px;}
/*--- Padding ---*/
.p-00{padding: 0;}
.pt-05 {padding-top: 5px!important;}
.pt-10 {padding-top: 10px!important;}
.pt-15 {padding-top: 15px!important;}
.pt-20 {padding-top: 20px!important;}
.pt-30 {padding-top: 30px!important;}
.pt-40 {padding-top: 40px!important;}
.pt-50 {padding-top: 50px!important;}
.pb-05 {padding-bottom: 5px!important;}
.pb-10 {padding-bottom: 10px!important;}
.pb-15 {padding-bottom: 15px!important;}
.pb-20 {padding-bottom: 20px!important;}
.pb-30 {padding-bottom: 30px!important;}
.pb-40 {padding-bottom: 40px!important;}
.pb-50 {padding-bottom: 50px!important;}
.pl-05 {padding-left: 5px!important;}
.pl-10 {padding-left: 10px!important;}
.pl-15 {padding-left: 15px!important;}
.pl-20 {padding-left: 20px!important;}
.pl-30 {padding-left: 30px!important;}
.pl-40 {padding-left: 40px!important;}
.pl-50 {padding-left: 50px!important;}
.pr-05 {padding-right: 5px!important;}
.pr-10 {padding-right: 10px!important;}
.pr-15 {padding-right: 15px!important;}
.pr-20 {padding-right: 20px!important;}
.pr-30 {padding-right: 30px!important;}
.pr-40 {padding-right: 40px!important;}
.pr-50 {padding-right: 50px!important;}
.px-05 {padding-left: 5px!important;padding-right: 5px!important;}
.px-10 {padding-left: 10px!important;padding-right: 10px!important;}
.px-15 {padding-left: 15px!important;padding-right: 15px!important;}
.px-20 {padding-left: 20px!important;padding-right: 20px!important;}
.px-30 {padding-left: 30px!important;padding-right: 30px!important;}
.px-40 {padding-left: 40px!important;padding-right: 40px!important;}
.px-50 {padding-left: 50px!important;padding-right: 50px!important;}
.py-05 {padding-top: 5px!important;padding-bottom: 5px!important;}
.py-10 {padding-top: 10px!important;padding-bottom: 10px!important;}
.py-15 {padding-top: 15px!important;padding-bottom: 15px!important;}
.py-20 {padding-top: 20px!important;padding-bottom: 20px!important;}
.py-30 {padding-top: 30px!important;padding-bottom: 30px!important;}
.py-40 {padding-top: 40px!important;padding-bottom: 40px!important;}
.py-50 {padding-top: 50px!important;padding-bottom: 50px!important;}

/*--- Button ---*/
button{
    font-size: unset;
}
.btn{
    border: none;
}
@media (max-width: 767px){
    .btn{
        padding: 0px 5px;
    }
}
.btn-primary{
    background: rgba(255, 128, 0, 1);
    border-radius: 24px;
    text-shadow: 0 0 5px #000;
}
.btn-primary:hover, .btn-primary:active{
    background: rgba(255, 193, 0, 1)!important;
}
.btn-secondary{
    background: rgba(0, 19, 48, 0.5);
    border: 2px solid rgba(255, 193, 0, 1);
    color: rgba(255, 193, 0, 1);
    border-radius: 24px;
    text-shadow: 0 0 5px #000;
}
.btn-secondary:hover, .btn-secondary:active{
    background: rgba(255, 193, 0, 1)!important;
    border: 2px solid rgba(255, 193, 0, 1);
}
/*--- Tab Button ---*/
.tab-primary{
    background: rgba(0, 19, 48, 0.5);
    border: 2px solid rgba(255, 193, 0, 1);
    color: rgba(255, 193, 0, 1);
    border-radius: 24px;
    text-shadow: 0 0 5px #000;
}
.tab-primary:hover, .tab-primary:active{
    background: rgba(255, 193, 0, 1);
}
.tab-primary.active{
    background: rgba(255, 128, 0, 1);
    color: #fff;
    border-color: rgba(255, 128, 0, 1);
}







/*--------------------------------------------------------------------------------*/
/*--- PC/Mobile隱藏 ---*/
@media screen and (min-width: 768px){
    .PChide{display: none;}
}
@media screen and (max-width: 767px){
    .MOBhide{display: none;}
}

